.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0%;
  bottom: 90%;
  width: 100%;
  border-radius: 10%;
  text-align: center;
  /* background-color: rgb(157, 197, 205); */
  color: white;
  display: flex;

/* margin: 1%; */
}

